[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	registered = false
[submodule "imuGAP"]
	path = imuGAP
	url = https://github.com/accidda/imugap
[submodule "paramix"]
	path = paramix
	url = https://github.com/accidda/paramix
